<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Implementations.CategoryService">
        <endpoint address="http" binding="basicHttpBinding" name="httpCategory" contract="CategoryService.ICategoryService" bindingConfiguration="StreamBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="rest" binding="webHttpBinding" name="restCategory" contract="CategoryService.ICategoryService" bindingConfiguration="RestStreamBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" name="tcpCategory" contract="CategoryService.ICategoryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/CategoryService/" />
            <add baseAddress="https://localhost:9998/CategoryService/" />
            <add baseAddress="net.tcp://localhost/CategoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Implementations.CategoryServiceFaulted">
        <endpoint address="http" binding="basicHttpBinding" name="httpCategory" contract="CategoryService.ICategoryService" bindingConfiguration="StreamBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="CategoryService.ICategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/CategoryServiceFaulted/" />
            <add baseAddress="https://localhost:9998/CategoryServiceFaulted/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Implementations.OrderService">
        <endpoint address="http" binding="basicHttpBinding" name="httpOrder" bindingConfiguration="httpBinding" contract="OrderService.IOrderService">
        </endpoint>
        <endpoint address="ws" binding="wsHttpBinding" name="httpOrder" bindingConfiguration="httpBinding" contract="OrderService.IOrderService">
        </endpoint>
        <endpoint address="rest" binding="webHttpBinding" name="restOrder" contract="OrderService.IOrderService" bindingConfiguration="restBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" >
        </endpoint>
        <endpoint address="tcp" binding="netTcpBinding" name="tcpOrder" contract="OrderService.IOrderService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9997/OrderService/" />
            <add baseAddress="https://localhost:9998/OrderService/" />
            <add baseAddress="net.tcp://localhost/OrderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Implementations.RoleService">
        <endpoint address="http" binding="basicHttpBinding" name="httpOrder" bindingConfiguration="httpBinding" contract="Contracts.IRoleService">
        </endpoint>
        <endpoint address="ws" binding="wsHttpBinding" name="httpOrder" bindingConfiguration="httpBinding" contract="Contracts.IRoleService">
        </endpoint>
        <endpoint address="rest" binding="webHttpBinding" name="restOrder" contract="Contracts.IRoleService" bindingConfiguration="restBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" name="tcpOrder" contract="Contracts.IRoleService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/RoleService/" />
            <add baseAddress="https://localhost:9998/RoleService/" />
            <add baseAddress="net.tcp://localhost/RoleService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SubscribeService.SubscribeService">
        <endpoint address="http" binding="wsDualHttpBinding" name="httpSubscribe" contract="SubscribeService.ISubscribeService"></endpoint>
        <endpoint address="rest" binding="wsDualHttpBinding" name="restSubscribe" contract="SubscribeService.ISubscribeService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" name="tcpSubscribe" contract="SubscribeService.ISubscribeService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SubscribeService/" />
            <add baseAddress="https://localhost/SubscribeService/" />
            <add baseAddress="net.tcp://localhost/SubscribeService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" >
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="httpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="RestStreamBinding" transferMode="Streamed" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="restBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" >
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="httpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Implementations.Helpers.UserPassword, Implementations"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Always"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "D:\logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>