<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpCategory" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" />
        <binding name="httpOrder" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IOrderService" />
        <binding name="BasicHttpBinding_ICategoryServiceLibrary" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="tcpCategory" />
        <binding name="tcpOrder" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="MyCallbackBehavior">
          <callbackTimeouts transactionTimeout="00:00:10"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost/CategoryService/http" binding="basicHttpBinding"
        bindingConfiguration="httpCategory" contract="CategoryServiceReference.ICategoryService"
        name="httpCategory" />
      <endpoint address="net.tcp://localhost/CategoryService/tcp" binding="netTcpBinding"
        bindingConfiguration="tcpCategory" contract="CategoryServiceReference.ICategoryService"
        name="tcpCategory">
        <identity>
          <userPrincipalName value="Nikolay_Piskarev@moscow.epam.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/OrderService/http" binding="basicHttpBinding"
        bindingConfiguration="httpOrder" contract="OrderServiceReference.IOrderService"
        name="httpOrder" />
      <endpoint address="net.tcp://localhost/OrderService/tcp" binding="netTcpBinding"
        bindingConfiguration="tcpOrder" contract="OrderServiceReference.IOrderService"
        name="tcpOrder">
        <identity>
          <userPrincipalName value="Nikolay_Piskarev@moscow.epam.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:52685/order.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOrderService" contract="IISOrderServiceReference.IOrderService"
        name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:52685/category.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICategoryServiceLibrary"
        contract="IISCategoryServiceReference.ICategoryServiceLibrary"
        name="BasicHttpBinding_ICategoryServiceLibrary" />
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add maxconnection="200"   address="*"  />
    </connectionManagement>
  </system.net>
</configuration>