<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" maxBufferPoolSize="52428800"
          maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_ICategoryService" maxBufferPoolSize="52428800"
          maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="MyCallbackBehavior">
          <callbackTimeouts transactionTimeout="00:00:10"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8733/Contracts/OrderService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
        contract="OrderServiceReference.IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8733/Contracts/CategoryService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryService"
        contract="CategoryServiceReference.ICategoryService" name="BasicHttpBinding_ICategoryService" />
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add maxconnection="200"   address="*"  />
    </connectionManagement>
  </system.net>
</configuration>