<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ISubscribeService" />
      </wsDualHttpBinding>
      <basicHttpBinding>
        <binding name="httpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Contracts/SubscribeService/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISubscribeService"
        contract="SubscribeServiceReference.ISubscribeService" name="WSDualHttpBinding_ISubscribeService">
        <identity>
          <userPrincipalName value="Nikolay_Piskarev@moscow.epam.com" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="OrderServiceLibrary.OrderService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Contracts/OrderService/" />
            <add baseAddress="net.tcp://localhost:8733/OrderService/" />
          </baseAddresses>
        </host>
        <endpoint address="http" name="httpOrder" binding="basicHttpBinding" contract="OrderServiceLibrary.IOrderService" bindingConfiguration="httpBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" name="tcpOrder" binding="netTcpBinding" contract="OrderServiceLibrary.IOrderService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>