<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CalculatorService/Soap" binding="basicHttpBinding"
                bindingConfiguration="soap" contract="ServiceReference.ICalculatorService"
                name="soap" />
            <endpoint address="net.tcp://localhost/CalculatorService/Tcp"
                binding="netTcpBinding" bindingConfiguration="tcp" contract="ServiceReference.ICalculatorService"
                name="tcp">
                <identity>
                    <userPrincipalName value="Nikolay_Piskarev@moscow.epam.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>