<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" >
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="iisHttpBinding" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="wsBinding" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" >
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="tcpCategory" >
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsBinding" maxBufferPoolSize="52428800"
          maxReceivedMessageSize="65536000" >
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="MyCallbackBehavior">
          <callbackTimeouts transactionTimeout="00:00:10"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="IISCategoryServiceConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com:9995/category.svc"
                binding="basicHttpBinding"
                bindingConfiguration="iisHttpBinding"
                contract="CategoryService.ICategoryService" 
                />
      <endpoint name="IISOrderServiceConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com:443/order.svc"
                binding="basicHttpBinding"
                bindingConfiguration="iisHttpBinding"
                contract="OrderService.IOrderService" 
                />
      
      <endpoint name="ConsoleHostCategoryServiceConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com/CategoryService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="CategoryService.ICategoryService" 
                />
      <endpoint name="ConsoleHostOrderServiceConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com:9998/OrderService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="OrderService.IOrderService" 
                />

      <endpoint name="WSConsoleHostCategoryServiceFaultedConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com:9998/CategoryService/ws"
                binding="wsHttpBinding"
                contract="CategoryService.ICategoryService" />
      <endpoint name="BasicConsoleHostCategoryServiceFaultedConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com:9998/CategoryService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="CategoryService.ICategoryService" />

      <endpoint name="ConsoleHostOrderServiceConfigurationWS"
                address="https://EPRUIZHW0252.moscow.epam.com:9998/OrderService/ws"
                binding="wsHttpBinding"
                bindingConfiguration="wsBinding"
                contract="OrderService.IOrderService"
                />

      <endpoint name="ConsoleHostRoleServiceConfiguration"
                address="https://EPRUIZHW0252.moscow.epam.com:9998/RoleService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="Contracts.IRoleService"
                />
      
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add maxconnection="200" address="*" />
    </connectionManagement>
  </system.net>
</configuration>