<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="wsBinding" maxBufferPoolSize="52428800" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000" />
      </webHttpBinding>
      <netTcpBinding>
        <binding name="tcpCategory" />
        <binding name="tcpOrder" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsBinding" maxBufferPoolSize="52428800" 
          maxReceivedMessageSize="65536000" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="MyCallbackBehavior">
          <callbackTimeouts transactionTimeout="00:00:10"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="IISCategoryServiceConfiguration"
                address="http://localhost:59218/category.svc"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="CategoryService.ICategoryService" 
                />
      <endpoint name="IISOrderServiceConfiguration"
                address="http://localhost:59218/order.svc"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="OrderService.IOrderService" 
                />
      
      <endpoint name="ConsoleHostCategoryServiceConfiguration"
                address="http://localhost/CategoryService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="CategoryService.ICategoryService" 
                />
      <endpoint name="ConsoleHostOrderServiceConfiguration"
                address="http://localhost/OrderService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="OrderService.IOrderService" 
                />

      <endpoint name="WSConsoleHostCategoryServiceFaultedConfiguration"
                address="http://localhost/CategoryService/ws"
                binding="wsHttpBinding"
                contract="CategoryService.ICategoryService" />
      <endpoint name="BasicConsoleHostCategoryServiceFaultedConfiguration"
                address="http://localhost/CategoryService/http"
                binding="basicHttpBinding"
                bindingConfiguration="httpBinding"
                contract="CategoryService.ICategoryService" />

      <endpoint name="ConsoleHostOrderServiceConfigurationWS"
                address="http://localhost/OrderService/ws"
                binding="wsHttpBinding"
                bindingConfiguration="wsBinding"
                contract="OrderService.IOrderService"
                />
      
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add maxconnection="200" address="*" />
    </connectionManagement>
  </system.net>
</configuration>