<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISubscribeService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Contracts/SubscribeService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISubscribeService"
                contract="SubscribeServiceReference.ISubscribeService" name="WSDualHttpBinding_ISubscribeService">
                <identity>
                    <userPrincipalName value="Nikolay_Piskarev@moscow.epam.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Contracts/OrderService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
                contract="OrderServiceReference.IOrderService" name="BasicHttpBinding_IOrderService" />
        </client>
    </system.serviceModel>
</configuration>