<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/Contracts/SubscribeService/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISubscribeService"
        contract="SubscribeServiceReference.ISubscribeService" name="WSDualHttpBinding_ISubscribeService">
        <identity>
          <userPrincipalName value="Nikolay_Piskarev@moscow.epam.com" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="OrderService.OrderService" behaviorConfiguration="OrderService.ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="httpBinding"
          contract="OrderService.IOrderService" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Contracts/OrderService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ISubscribeService" />
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="D:\logs\Traces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <httpRuntime maxRequestLength="2097151"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add maxconnection="200"   address="*"  />
    </connectionManagement>
  </system.net>
</configuration>