<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CategoryService.CategoryService">
        <endpoint address="http" binding="basicHttpBinding" name="httpCategory" contract="CategoryService.ICategoryService" bindingConfiguration="StreamBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" name="tcpCategory" contract="CategoryService.ICategoryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/CategoryService/" />
            <add baseAddress="net.tcp://localhost/CategoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="OrderService.OrderService">
        <endpoint address="http" binding="basicHttpBinding" name="httpOrder" bindingConfiguration="httpBinding" contract="OrderService.IOrderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" name="tcpOrder" contract="OrderService.IOrderService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/OrderService/" />
            <add baseAddress="net.tcp://localhost/OrderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SubscribeService.SubscribeService">
        <endpoint address="http" binding="wsDualHttpBinding" name="httpSubscribe" contract="SubscribeService.ISubscribeService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" name="tcpSubscribe" contract="SubscribeService.ISubscribeService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SubscribeService/" />
            <add baseAddress="net.tcp://localhost/SubscribeService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
        <binding name="httpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>